body {
    margin: 0;
    background-color: rgb(242, 242, 242);
    font-family: 'Lato', sans-serif;
    text-align: center;
    align-items: center;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

#header {
    flex-direction: row;
    border-color: rgb(46, 116, 181);
    justify-content: space-around;
    align-items: center;
}

#header a {
    background: linear-gradient(rgb(37, 0, 78), rgb(46, 116, 181), rgb(46, 116, 181));
    width: 100%;
    padding: 24px 30px;
    text-decoration: none;
    color: white;
    text-align: left;
    font-size: 28px;
    z-index: 2;
}

#sidebar {
    background-color: rgb(46, 116, 181);
    border-color: rgb(46, 116, 181);
    color: white;
    width: 200px;
    position: fixed;
    top: 0px;
    height: 100%;
    padding-top: 70px;
    margin-left: -40px;
    flex-direction: column;
    left: 0px;
    transition: 500ms;
    z-index: 1;
}

#sidebar li {
    list-style-type: none;
    font-size: 20px;
    padding: 10px 0px;
    transition: 200ms;
}

#sidebar a {
    text-decoration: none;
    color: white;
    transition: 500ms;
}

#sidebar li:hover {
    background-color: rgba(87, 160, 255, 0.616);
    transition: 200ms;
}

#sidebar a:hover {
    color: yellow;
    transition: 200ms;
}

#profile-pic {
    min-width: 100px;
    min-height: 100px;
    max-width: 150px;
    max-height: 150px;
    width: 70%;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    margin-top: 10px;
}

#content {
    justify-content: space-around;
    width: 100%;
    margin-left: 160px; /* from sidebar */
    margin-bottom: 50px; /* from footer */
    padding: 0px 30px;
    text-align: left;
    transition: 300ms;    
}

#content h1 {
    color: rgb(36, 101, 161);
}

#content-block {
    margin-bottom: 40px;
}

#footer {
    /*height: 70px;*/
    width: 100%;
    
    /*bottom: 0px;*/
    /*position: fixed;*/
}

#footer-boring {
    position:fixed;
    bottom:0;
    right:0;
    left:0;
    z-index: 1;
}

#footer-pop {
    position:absolute;
    height:70px;
    right:0; 
    left:0;
    z-index: 2;
}

#footer a {
    text-decoration: none;
    color: aliceblue
}

#footer-container {
    width: 100%;
    justify-content: center;
    background-color: rgb(46, 116, 181);
}

#footer-container div {
    padding: 0px 10px;
}

#f-contacto {
    font-size: 24px;
    color: aliceblue;
    background: rgb(46, 116, 181);
}

@media screen and (max-width: 320px) {
    /* EXTREME CASES */
    #header {
        display: none;
    }
}

@media screen and (max-width: 420px) {
    /* SMALL DEVICES */
    #header a {
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) { 
    /* HIDE SIDEBAR */
    #sidebar {
        left: -160px;
        transition: 300ms;
    }
    #content {
        width: 100%;
        margin-left: 0px;
        transition: 1000ms; /* don't disturb lecture */
    }
}
